html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    font-family: arial, sans-serif;
    background-color: #758b94;
    -ms-content-zoom-chaining: none;
    -ms-touch-action: none;
    touch-action: none;
}

.top-header {
    height: 50px;
    font-size: 18px;
    background-color: #2d70b2;
    background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
    background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    font-weight: normal;
}

    .top-header .row {
        margin-left: 0;
    }

        .top-header .row.required {
            color: darkred;
            margin-top: 5px;
            margin-left: 40px;
            font-size: 1.1em;
            font-weight: bold;
            display: inline-block;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }

        .top-header .row .col-lg-12 {
            float: left;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

            .top-header .row .col-lg-12 .logo h1 {
                margin: 0;
                color: #fff;
                cursor: default;
                padding: 11px 0;
                font-size: 25px;
                font-weight: bold;
                text-shadow: 3px 6px 3px #000;
            }

#loginbox {
    width: 360px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    min-height: 240px;
    -moz-box-shadow: 3px 5px 4px #000000;
    -webkit-box-shadow: 3px 5px 4px #000000;
    box-shadow: 3px 5px 4px #000000;
    margin-top: 190px;
}

    #loginbox .panel-title {
        font-size: 20px;
        font-weight: bold;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        padding: 5px 15px 8px 2px;
    }

    #loginbox img.verifyCode {
        height: 46px;
        cursor: pointer;
        width: auto;
        border-radius: 0 5px 5px 0;
    }

    #loginbox #txtVerifyCode {
        -ms-ime-mode: disabled;
        ime-mode: disabled;
        text-transform: uppercase;
    }

footer {
    color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    cursor: default;
    font-size: 16px;
    background-color: #2d70b2;
    background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
    background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    font-weight: normal;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
