html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 13pt;
	background-color: #758b94;
	-ms-content-zoom-chaining: none;
	-ms-touch-action: none;
	touch-action: none;
}

.top-header {
	height: 50px;
	background-color: #2d70b2;
	text-shadow: 0 1px 0 #2d70b2;
	background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
	background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-weight: normal;
}

	.top-header .row {
		margin-left: 0;
	}

		.top-header .row .col-lg-12 {
			float: left;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}

			.top-header .row .col-lg-12 .logo h1 {
				font-size: 25px;
				color: #fff;
				margin: 0;
				padding: 11px 0;
			}

			.top-header .row .col-lg-12 h1 a {
				color: #fff;
				font-size: 20px;
			}

		.top-header .row.required {
			color: darkred;
			margin-top: 5px;
			margin-left: 40px;
			font-size: 1.1em;
			font-weight: bolder;
			display: inline-block;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			user-select: none;
		}

	.top-header ul.language {
		padding: 0;
		border: 0;
		margin-top: 8px;
		text-align: right;
		margin-right: 2px;
		list-style-type: none;
	}

		.top-header ul.language li {
			margin: 0;
			padding: 0;
			border: 0;
			display: inline-block;
			list-style-type: none;
		}

			.top-header ul.language li.seprator {
				clear: both;
				top: -1px;
				width: 3px;
				height: 20px;
				padding: 0;
				position: relative;
				vertical-align: middle;
				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATCAMAAACN4iwoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEJQTFRFHlmVHViTHVmUPHizPXm2PXq4O3SuHlmUPXq3PHaxO3WvH1qVPXi0PXi1O3WwPHq3H1yYOXOsPHezO3awHViUPHeyEsDZdQAAADJJREFUeNocwgcOwCAMALELm5YN/f9XK2KZ0cHrBE5XYsFYvTAfJyMbaciDhPudvwADABpXAQTwSox9AAAAAElFTkSuQmCC') /*../Images/seprator.png*/ repeat-y;
			}

			.top-header ul.language li a {
				color: #fff;
				font-size: 1em;
				padding: 5px 8px 25px 8px;
			}

				.top-header ul.language li a:hover {
					background-image: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
					background-image: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2));
					background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
					background-repeat: repeat-x;
					border-color: #2b669a;
				}

				.top-header ul.language li a.active {
					background-image: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
					background-image: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#2d6ca2));
					background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
					background-repeat: repeat-x;
					border-color: #2b669a;
					-moz-border-radius: 0 0 6px 6px;
					-webkit-border-radius: 0 0 6px 6px;
					border-radius: 0 0 6px 6px;
				}

#logo, #loginbox {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	-ms-touch-action: none;
	touch-action: none;
}

#logo {
	padding: 20px 0 40px 5px;
}

	#logo img {
		width: 215px;
		margin: 0 auto;
		display: block;
	}

#loginbox {
	min-height: 280px;
	background: #ffffff;
	-moz-box-shadow: 0 0 4px #000000;
	-webkit-box-shadow: 0 0 4px #000000;
	box-shadow: 0 0 4px #000000;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden !important;
	text-align: center;
	margin-top: 180px;
	position: relative;
}

	#loginbox .input-group-lg > .form-control,
	.input-group-lg > .input-group-addon,
	.input-group-lg > .input-group-btn > .btn {
		padding-top: 8px;
		padding-bottom: 8px;
		vertical-align: middle;
	}

	#loginbox p {
		margin-top: 20px;
		padding: 0 20px;
	}

	#loginbox .input-group {
		width: 545px;
		margin: auto;
		margin-bottom: 10px;
	}

	#loginbox .form-actions {
		width: 100%;
		text-align: left;
		padding-left: 40px;
		display: inline-block;
	}

	#loginbox .panel-title {
		font-size: 18pt;
		padding: 7px 15px 7px 15px;
	}

	#loginbox form#recoverform .form-actions {
		margin-top: 24px;
	}

.form-vertical, .form-actions {
	margin-bottom: 0;
}

#error-list {
	display: block;
	overflow: hidden;
	min-height: 40px;
	margin-top: 10px;
}

	#error-list .text-danger {
		display: block;
		text-align: left;
		max-width: 320px;
		padding-left: 50px;
	}

.verifyCode {
	float: left;
	width: 106px;
	height: 34px;
	margin-left: 4px;
	padding: 0;
	cursor: pointer;
}

.btn-primary .glyphicon {
	right: 4px;
}

.form-actions .pull-left {
	padding-right: 25px;
}

.form-actions .btn {
	width: 88px;
	vertical-align: middle;
}

footer {
	color: #fff;
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-color: #2d70b2;
	text-shadow: 0 1px 0 #2d70b2;
	background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
	background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	font-weight: normal;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
