@{
    var allotMembers = this.ViewBag.AllotMembers as ResponseCollection<User>;
}
<div>
    <ul id="treeContainer" class="filetree">
        <li>
            <span class="folder"></span> @this.ViewBag.Name
            <ul>
                @if (allotMembers.HasData())
                {
                    foreach (var user in allotMembers.Datas)
                    {
                        <li>
                            <span class="file"></span> <i ondblclick="RemoveMember('@user.Id')">@user.Account</i>
                        </li>
                    }
                }
                else if (allotMembers.HasError())
                {
                    <li>
                        <span class="file"></span><i>@allotMembers.GetErrorMessage()</i>
                    </li>
                }
                else
                {
                    <li>
                        <span class="file" style="color:red;"></span><i>暂无数据</i>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>