<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- SQL Server数据库(读库)-->
  <add key="rhost" value="tfs-server" />
  <add key="rport" value="1433" />
  <add key="rsid" value="Sparrow" />
  <add key="rusername" value="sa" />
  <add key="rpassword" value="devdev" />

  <!-- SQL Server数据库(写库) -->
  <add key="whost" value="tfs-server" />
  <add key="wport" value="1433" />
  <add key="wsid" value="Sparrow" />
  <add key="wusername" value="sa" />
  <add key="wpassword" value="devdev" />
</settings>