@section Styles
{
    <style type="text/css">
        tr.cache-value {
            padding: 15px;
            overflow-y: auto;
            max-height: 120px;
            background: limegreen;
            border: 1px dotted #ccc;
        }

        .panel {
            margin-bottom: 15px;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        function viewCache() {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("ShowCaches")',
                dataType: 'html',
                success: function (html) {
                    $('#caches').html(html);
                }
            });
        }

        function clearCache() {
            confirm('是否确定清空缓存？', function () {
                $('#frmClearCache').submit();

                viewCache();
            });
        }

        function ShowCacheValue(element, key) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("ShowCacheValue")',
                data: { key: key },
                dataType: 'JSON',
                success: function (rs) {
                    if ($(element).text().trim() == '显示') {
                        $(element).parent().parent().after('<tr class="cache-value"><td colspan="3">' + rs.Value + '</td></tr>');
                        $(element).html('<i class="glyphicon glyphicon-menu-up"></i> 隐藏');
                    } else {
                        $(element).parent().parent().next().remove();
                        $(element).html('<i class="glyphicon glyphicon-menu-down"></i> 显示');
                    }
                }
            });
        }

        function RemoveCache(key) {
            confirm('是否确定删除此缓存？', function () {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("RemoveCacheValue")',
                    data: { key: key },
                    success: function (rs) {
                        viewCache();
                    }
                });
            });
        }
    </script>
}

<div class="panel panel-primary">
    <div class="panel-heading"><b>修改管理后台用户密码</b></div>
    <div class="panel-body">
        @using (Ajax.BeginForm("ChangePassword", "Home", null, new AjaxOptions { HttpMethod = "POST"}, new {@class= "form-horizontal" }))
        {
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">账号</label>
                <div class="col-sm-8">
                    <input type="text" id="name" name="name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="password">密码</label>
                <div class="col-sm-8">
                    <input type="password" id="password" name="password" class="form-control" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-1">&nbsp;</label>
                <div class="col-sm-8">
                    <button class="btn btn-primary">
                        <i class="glyphicon glyphicon-pencil"></i> 修改
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><b>缓存管理</b></div>
    <div class="panel-body">
        @using (Ajax.BeginForm("ClearCache", "Home", null, new AjaxOptions { HttpMethod = "POST" }, new { @id = "frmClearCache", @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <a class="btn btn-primary" onclick="viewCache()">
                    <i class="glyphicon glyphicon-tasks"></i> 查看缓存
                </a>
                <button type="button" class="btn btn-danger" onclick="clearCache()">
                    <i class="glyphicon glyphicon-trash"></i> 清空缓存
                </button>
            </div>
        }
        <div id="caches" style="max-height: 300px; overflow-y: auto; overflow-x:hidden; margin-top: 10px;">
        </div>
    </div>
</div>
