@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right" style="margin-right: 25px;">
            <li>
                <span style="color: #fff;position: relative;top: 15px;right: 20px;">
                    你好， <i class="glyphicon glyphicon-user"></i> @WebHelper.GetLogOnName() (@WebHelper.GetLogOnAccount())
                </span>
            </li>
            <li>
                <span class="btn btn-sm btn-danger" style="margin-top: 12px;" onclick="confirm('是否确定注销？',function(){document.getElementById('logoutForm').submit();})">
                    <i class="glyphicon glyphicon-off"></i> 注销
                </span>
            </li>
        </ul>
    }
}
