@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right" style="margin-left:0;margin-right:30px;">
            <li style="margin-top:16px; margin-right:10px;">
                <span style="color: #fff;">
                    <i class="glyphicon glyphicon-user"></i> 欢迎， @WebHelper.GetLogOnName() (@WebHelper.GetLogOnAccount())
                </span>
            </li>
            <li>
                <span class="btn btn-sm btn-danger" style="margin-top: 12px;" onclick="confirm('是否确定注销？',function(){document.getElementById('logoutForm').submit();})">
                    <i class="glyphicon glyphicon-off"></i> 注销
                </span>
            </li>
        </ul>
    }
}
