@using Mercurius.NewsCenter.Interfaces.Entities

@model ResponseSet<News>

@{
    ViewBag.Title = "新闻-Home Page";
}

@if (Model.HasData())
{
    foreach (var data in Model.Datas)
    {
        <p>
            @data.Title
            -
            @data.Content
        </p>
    }
}