
@{
    ViewBag.Features = "生成数据库脚本";
}

<div class="panel panel-primary">
    <div class="panel-heading" style="display:inline-block; width:100%;padding:3px 15px;">
        <button type="button" class="btn btn-success pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i> 生成
        </button>
    </div>
    <div class="panel-body">

    </div>
</div>