<?xml version="1.0" encoding="utf-8"?>
<settings>
  
  <!-- 是否启用数据库读写分离 -->
  <add key="EnableReadWriteSeparation" value="False" />
  
  <!-- 数据库类型(MSSQL、MySQL、Oracle) -->
  <add key="DatabaseType" value="MSSQL" />
  
  <!-- 每页显示记录数 -->
  <add key="DefaultPageSize" value="20" />

  <!-- 令牌过期时间(小时) -->
  <add key="TokenExpireTime" value="48" />
  
  <!-- 刷新令牌过期时间(天) -->
  <add key="RefreshTokenExpireTime" value="2" />
  
  <!-- Redis缓存参数 -->
  <add key="Cache.Redis.Host" value="127.0.0.1" />
  <add key="Cache.Redis.Port" value="6379" />
  <add key="Cache.Redis.Password" value="mercurius" />
  <add key="Cache.Redis.Database" value="0" />

  <!-- 文件上传token获取参数 -->
  <add key="FileStorage.RomoteUrl" value="http://127.0.0.1:8000/FileStorageSystem/" />
  <add key="FileStorage.Token.Account" value="nebula" />
  <add key="FileStorage.Token.Password" value="nebula@xyzbchina.com" />
  <add key="FileStorage.Token.TokenEndpointPath" value="api/token" />
</settings>