@section Styles{
    <style type="text/css">
        .alert {
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 0;
            border-radius: 5px 5px 0 0;
        }

        .icons {
            border: 1px solid #ccc;
            border-top: none;
            padding: 4px;
            margin-right: 5px;
            border-radius: 0 0 4px 4px;
        }

        .icon {
            width: 39px;
            height: 36px;
            border: solid 1px #ccc;
            margin: 2px 1px 0 1px;
            text-align: center;
            cursor: pointer;
            border-radius: 4px;
            display: inline-block;
        }

            .icon:hover {
                color: #FFF;
                border: solid 1px #3399dd;
                background: #2288cc;
                -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
                -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
                -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
                background: linear-gradient(top, #33bbee, #2288cc);
                background: -moz-linear-gradient(top, #33bbee, #2288cc);
                background: -webkit-gradient(linear, 0 0, 0 100%, from(#33bbee), to(#2288cc));
                text-shadow: -1px -1px 1px #1c6a9e;
            }

        .icon i {
                font-size: 1.6em;
                padding: 4px 0 4px 0;
            }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".icon").click(function () {
                top.ChooseImageContainer.SetImage($(this).find('i').prop('class'));
            }).dblclick(function () {
                mercurius.CloseDialog();
            });
        });
    </script>
}

<div style="height: 400px;overflow-y: auto;">
    <h4 class="alert alert-success">Bootstrap</h4>
    <div class="icons">
        <div class="icon"><i class="glyphicon glyphicon-asterisk"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-plus"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-euro"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-eur"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-minus"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cloud"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-envelope"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-pencil"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-glass"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-music"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-search"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-heart"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-star"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-star-empty"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-user"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-film"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-th-large"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-th"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-th-list"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ok"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-remove"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-zoom-in"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-zoom-out"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-off"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-signal"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cog"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-trash"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-home"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-file"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-time"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-road"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-download-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-download"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-upload"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-inbox"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-play-circle"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-repeat"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-refresh"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-list-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-lock"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-flag"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-headphones"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-volume-off"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-volume-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-volume-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-qrcode"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-barcode"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tag"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tags"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-book"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bookmark"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-print"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-camera"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-font"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bold"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-italic"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-text-height"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-text-width"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-align-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-align-center"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-align-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-align-justify"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-list"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-indent-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-indent-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-facetime-video"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-picture"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-adjust"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tint"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-edit"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-share"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-check"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-move"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-step-backward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-fast-backward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-backward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-play"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-pause"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-stop"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-forward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-fast-forward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-step-forward"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-eject"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-chevron-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-plus-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-minus-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-remove-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ok-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-question-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-info-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-screenshot"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-remove-circle"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ok-circle"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ban-circle"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-arrow-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-arrow-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-arrow-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-arrow-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-share-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-resize-full"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-resize-small"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-gift"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-leaf"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-fire"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-eye-open"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-eye-close"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-warning-sign"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-plane"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-calendar"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-random"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-comment"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-magnet"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-chevron-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-chevron-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-retweet"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-shopping-cart"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-folder-close"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-folder-open"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-resize-vertical"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-resize-horizontal"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hdd"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bullhorn"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bell"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-certificate"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-thumbs-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hand-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hand-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hand-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hand-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-circle-arrow-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-circle-arrow-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-circle-arrow-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-circle-arrow-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-globe"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-wrench"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tasks"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-filter"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-briefcase"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-fullscreen"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-dashboard"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-paperclip"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-heart-empty"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-link"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-phone"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-pushpin"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-usd"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-gbp"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-alphabet"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-order"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-order-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-attributes"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-unchecked"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-expand"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-collapse-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-collapse-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-log-in"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-flash"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-log-out"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-new-window"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-record"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-save"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-open"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-saved"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-import"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-export"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-send"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-floppy-disk"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-floppy-saved"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-floppy-remove"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-floppy-save"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-floppy-open"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-transfer"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cutlery"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-header"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-compressed"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-earphone"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-phone-alt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tower"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-stats"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sd-video"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hd-video"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-subtitles"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sound-stereo"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sound-dolby"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sound-5-1"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sound-6-1"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sound-7-1"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-copyright-mark"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-registration-mark"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cloud-download"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cloud-upload"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tree-conifer"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tree-deciduous"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-cd"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-save-file"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-open-file"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-level-up"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-copy"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-paste"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-alert"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-equalizer"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-king"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-queen"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-pawn"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bishop"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-knight"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-baby-formula"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-tent"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-blackboard"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bed"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-apple"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-erase"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-hourglass"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-lamp"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-duplicate"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-piggy-bank"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-scissors"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-bitcoin"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-btc"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-xbt"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-yen"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-jpy"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ruble"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-rub"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-scale"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ice-lolly"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-ice-lolly-tasted"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-education"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-option-horizontal"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-option-vertical"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-menu-hamburger"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-modal-window"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-oil"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-grain"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-sunglasses"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-text-size"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-text-color"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-text-background"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-top"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-bottom"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-horizontal"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-vertical"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-object-align-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-triangle-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-triangle-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-triangle-bottom"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-triangle-top"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-console"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-superscript"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-subscript"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-menu-left"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-menu-right"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-menu-down"></i></div>
        <div class="icon"><i class="glyphicon glyphicon-menu-up"></i></div>
    </div>
    <h4 class="alert alert-success">Web应用程序</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-adjust"></i></div>
        <div class="icon"><i class="fa fa-anchor"></i></div>
        <div class="icon"><i class="fa fa-archive"></i></div>
        <div class="icon"><i class="fa fa-area-chart"></i></div>
        <div class="icon"><i class="fa fa-arrows"></i></div>
        <div class="icon"><i class="fa fa-arrows-h"></i></div>
        <div class="icon"><i class="fa fa-arrows-v"></i></div>
        <div class="icon"><i class="fa fa-asterisk"></i></div>
        <div class="icon"><i class="fa fa-at"></i></div>
        <div class="icon"><i class="fa fa-automobile"></i></div>
        <div class="icon"><i class="fa fa-ban"></i></div>
        <div class="icon"><i class="fa fa-bank"></i></div>
        <div class="icon"><i class="fa fa-bar-chart"></i></div>
        <div class="icon"><i class="fa fa-bar-chart-o"></i></div>
        <div class="icon"><i class="fa fa-barcode"></i></div>
        <div class="icon"><i class="fa fa-bars"></i></div>
        <div class="icon"><i class="fa fa-beer"></i></div>
        <div class="icon"><i class="fa fa-bell"></i></div>
        <div class="icon"><i class="fa fa-bell-o"></i></div>
        <div class="icon"><i class="fa fa-bell-slash"></i></div>
        <div class="icon"><i class="fa fa-bell-slash-o"></i></div>
        <div class="icon"><i class="fa fa-bicycle"></i></div>
        <div class="icon"><i class="fa fa-binoculars"></i></div>
        <div class="icon"><i class="fa fa-birthday-cake"></i></div>
        <div class="icon"><i class="fa fa-bolt"></i></div>
        <div class="icon"><i class="fa fa-bomb"></i></div>
        <div class="icon"><i class="fa fa-book"></i></div>
        <div class="icon"><i class="fa fa-bookmark"></i></div>
        <div class="icon"><i class="fa fa-bookmark-o"></i></div>
        <div class="icon"><i class="fa fa-briefcase"></i></div>
        <div class="icon"><i class="fa fa-bug"></i></div>
        <div class="icon"><i class="fa fa-building"></i></div>
        <div class="icon"><i class="fa fa-building-o"></i></div>
        <div class="icon"><i class="fa fa-bullhorn"></i></div>
        <div class="icon"><i class="fa fa-bullseye"></i></div>
        <div class="icon"><i class="fa fa-bus"></i></div>
        <div class="icon"><i class="fa fa-cab"></i></div>
        <div class="icon"><i class="fa fa-calculator"></i></div>
        <div class="icon"><i class="fa fa-calendar"></i></div>
        <div class="icon"><i class="fa fa-calendar-o"></i></div>
        <div class="icon"><i class="fa fa-camera"></i></div>
        <div class="icon"><i class="fa fa-camera-retro"></i></div>
        <div class="icon"><i class="fa fa-car"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-down"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-left"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-up"></i></div>
        <div class="icon"><i class="fa fa-cc"></i></div>
        <div class="icon"><i class="fa fa-certificate"></i></div>
        <div class="icon"><i class="fa fa-check"></i></div>
        <div class="icon"><i class="fa fa-check-circle"></i></div>
        <div class="icon"><i class="fa fa-check-circle-o"></i></div>
        <div class="icon"><i class="fa fa-check-square"></i></div>
        <div class="icon"><i class="fa fa-check-square-o"></i></div>
        <div class="icon"><i class="fa fa-child"></i></div>
        <div class="icon"><i class="fa fa-circle"></i></div>
        <div class="icon"><i class="fa fa-circle-o"></i></div>
        <div class="icon"><i class="fa fa-circle-o-notch"></i></div>
        <div class="icon"><i class="fa fa-circle-thin"></i></div>
        <div class="icon"><i class="fa fa-clock-o"></i></div>
        <div class="icon"><i class="fa fa-close"></i></div>
        <div class="icon"><i class="fa fa-cloud"></i></div>
        <div class="icon"><i class="fa fa-cloud-download"></i></div>
        <div class="icon"><i class="fa fa-cloud-upload"></i></div>
        <div class="icon"><i class="fa fa-code"></i></div>
        <div class="icon"><i class="fa fa-code-fork"></i></div>
        <div class="icon"><i class="fa fa-coffee"></i></div>
        <div class="icon"><i class="fa fa-cog"></i></div>
        <div class="icon"><i class="fa fa-cogs"></i></div>
        <div class="icon"><i class="fa fa-comment"></i></div>
        <div class="icon"><i class="fa fa-comment-o"></i></div>
        <div class="icon"><i class="fa fa-comments"></i></div>
        <div class="icon"><i class="fa fa-comments-o"></i></div>
        <div class="icon"><i class="fa fa-compass"></i></div>
        <div class="icon"><i class="fa fa-copyright"></i></div>
        <div class="icon"><i class="fa fa-credit-card"></i></div>
        <div class="icon"><i class="fa fa-crop"></i></div>
        <div class="icon"><i class="fa fa-crosshairs"></i></div>
        <div class="icon"><i class="fa fa-cube"></i></div>
        <div class="icon"><i class="fa fa-cubes"></i></div>
        <div class="icon"><i class="fa fa-cutlery"></i></div>
        <div class="icon"><i class="fa fa-dashboard"></i></div>
        <div class="icon"><i class="fa fa-database"></i></div>
        <div class="icon"><i class="fa fa-desktop"></i></div>
        <div class="icon"><i class="fa fa-dot-circle-o"></i></div>
        <div class="icon"><i class="fa fa-download"></i></div>
        <div class="icon"><i class="fa fa-edit"></i></div>
        <div class="icon"><i class="fa fa-ellipsis-h"></i></div>
        <div class="icon"><i class="fa fa-ellipsis-v"></i></div>
        <div class="icon"><i class="fa fa-envelope"></i></div>
        <div class="icon"><i class="fa fa-envelope-o"></i></div>
        <div class="icon"><i class="fa fa-envelope-square"></i></div>
        <div class="icon"><i class="fa fa-eraser"></i></div>
        <div class="icon"><i class="fa fa-exchange"></i></div>
        <div class="icon"><i class="fa fa-exclamation"></i></div>
        <div class="icon"><i class="fa fa-exclamation-circle"></i></div>
        <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="icon"><i class="fa fa-external-link"></i></div>
        <div class="icon"><i class="fa fa-external-link-square"></i></div>
        <div class="icon"><i class="fa fa-eye"></i></div>
        <div class="icon"><i class="fa fa-eye-slash"></i></div>
        <div class="icon"><i class="fa fa-eyedropper"></i></div>
        <div class="icon"><i class="fa fa-fax"></i></div>
        <div class="icon"><i class="fa fa-female"></i></div>
        <div class="icon"><i class="fa fa-fighter-jet"></i></div>
        <div class="icon"><i class="fa fa-file-archive-o"></i></div>
        <div class="icon"><i class="fa fa-file-audio-o"></i></div>
        <div class="icon"><i class="fa fa-file-code-o"></i></div>
        <div class="icon"><i class="fa fa-file-excel-o"></i></div>
        <div class="icon"><i class="fa fa-file-image-o"></i></div>
        <div class="icon"><i class="fa fa-file-movie-o"></i></div>
        <div class="icon"><i class="fa fa-file-pdf-o"></i></div>
        <div class="icon"><i class="fa fa-file-photo-o"></i></div>
        <div class="icon"><i class="fa fa-file-picture-o"></i></div>
        <div class="icon"><i class="fa fa-file-powerpoint-o"></i></div>
        <div class="icon"><i class="fa fa-file-sound-o"></i></div>
        <div class="icon"><i class="fa fa-file-video-o"></i></div>
        <div class="icon"><i class="fa fa-file-word-o"></i></div>
        <div class="icon"><i class="fa fa-file-zip-o"></i></div>
        <div class="icon"><i class="fa fa-film"></i></div>
        <div class="icon"><i class="fa fa-filter"></i></div>
        <div class="icon"><i class="fa fa-fire"></i></div>
        <div class="icon"><i class="fa fa-fire-extinguisher"></i></div>
        <div class="icon"><i class="fa fa-flag"></i></div>
        <div class="icon"><i class="fa fa-flag-checkered"></i></div>
        <div class="icon"><i class="fa fa-flag-o"></i></div>
        <div class="icon"><i class="fa fa-flash"></i></div>
        <div class="icon"><i class="fa fa-flask"></i></div>
        <div class="icon"><i class="fa fa-folder"></i></div>
        <div class="icon"><i class="fa fa-folder-o"></i></div>
        <div class="icon"><i class="fa fa-folder-open"></i></div>
        <div class="icon"><i class="fa fa-folder-open-o"></i></div>
        <div class="icon"><i class="fa fa-frown-o"></i></div>
        <div class="icon"><i class="fa fa-futbol-o"></i></div>
        <div class="icon"><i class="fa fa-gamepad"></i></div>
        <div class="icon"><i class="fa fa-gavel"></i></div>
        <div class="icon"><i class="fa fa-gear"></i></div>
        <div class="icon"><i class="fa fa-gears"></i></div>
        <div class="icon"><i class="fa fa-gift"></i></div>
        <div class="icon"><i class="fa fa-glass"></i></div>
        <div class="icon"><i class="fa fa-globe"></i></div>
        <div class="icon"><i class="fa fa-graduation-cap"></i></div>
        <div class="icon"><i class="fa fa-group"></i></div>
        <div class="icon"><i class="fa fa-hdd-o"></i></div>
        <div class="icon"><i class="fa fa-headphones"></i></div>
        <div class="icon"><i class="fa fa-heart"></i></div>
        <div class="icon"><i class="fa fa-heart-o"></i></div>
        <div class="icon"><i class="fa fa-history"></i></div>
        <div class="icon"><i class="fa fa-home"></i></div>
        <div class="icon"><i class="fa fa-image"></i></div>
        <div class="icon"><i class="fa fa-inbox"></i></div>
        <div class="icon"><i class="fa fa-info"></i></div>
        <div class="icon"><i class="fa fa-info-circle"></i></div>
        <div class="icon"><i class="fa fa-institution"></i></div>
        <div class="icon"><i class="fa fa-key"></i></div>
        <div class="icon"><i class="fa fa-keyboard-o"></i></div>
        <div class="icon"><i class="fa fa-language"></i></div>
        <div class="icon"><i class="fa fa-laptop"></i></div>
        <div class="icon"><i class="fa fa-leaf"></i></div>
        <div class="icon"><i class="fa fa-legal"></i></div>
        <div class="icon"><i class="fa fa-lemon-o"></i></div>
        <div class="icon"><i class="fa fa-level-down"></i></div>
        <div class="icon"><i class="fa fa-level-up"></i></div>
        <div class="icon"><i class="fa fa-life-bouy"></i></div>
        <div class="icon"><i class="fa fa-life-buoy"></i></div>
        <div class="icon"><i class="fa fa-life-ring"></i></div>
        <div class="icon"><i class="fa fa-life-saver"></i></div>
        <div class="icon"><i class="fa fa-lightbulb-o"></i></div>
        <div class="icon"><i class="fa fa-line-chart"></i></div>
        <div class="icon"><i class="fa fa-location-arrow"></i></div>
        <div class="icon"><i class="fa fa-lock"></i></div>
        <div class="icon"><i class="fa fa-magic"></i></div>
        <div class="icon"><i class="fa fa-magnet"></i></div>
        <div class="icon"><i class="fa fa-mail-forward"></i></div>
        <div class="icon"><i class="fa fa-mail-reply"></i></div>
        <div class="icon"><i class="fa fa-mail-reply-all"></i></div>
        <div class="icon"><i class="fa fa-male"></i></div>
        <div class="icon"><i class="fa fa-map-marker"></i></div>
        <div class="icon"><i class="fa fa-meh-o"></i></div>
        <div class="icon"><i class="fa fa-microphone"></i></div>
        <div class="icon"><i class="fa fa-microphone-slash"></i></div>
        <div class="icon"><i class="fa fa-minus"></i></div>
        <div class="icon"><i class="fa fa-minus-circle"></i></div>
        <div class="icon"><i class="fa fa-minus-square"></i></div>
        <div class="icon"><i class="fa fa-minus-square-o"></i></div>
        <div class="icon"><i class="fa fa-mobile"></i></div>
        <div class="icon"><i class="fa fa-mobile-phone"></i></div>
        <div class="icon"><i class="fa fa-money"></i></div>
        <div class="icon"><i class="fa fa-moon-o"></i></div>
        <div class="icon"><i class="fa fa-mortar-board"></i></div>
        <div class="icon"><i class="fa fa-music"></i></div>
        <div class="icon"><i class="fa fa-navicon"></i></div>
        <div class="icon"><i class="fa fa-newspaper-o"></i></div>
        <div class="icon"><i class="fa fa-paint-brush"></i></div>
        <div class="icon"><i class="fa fa-paper-plane"></i></div>
        <div class="icon"><i class="fa fa-paper-plane-o"></i></div>
        <div class="icon"><i class="fa fa-paw"></i></div>
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <div class="icon"><i class="fa fa-pencil-square"></i></div>
        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
        <div class="icon"><i class="fa fa-phone"></i></div>
        <div class="icon"><i class="fa fa-phone-square"></i></div>
        <div class="icon"><i class="fa fa-photo"></i></div>
        <div class="icon"><i class="fa fa-picture-o"></i></div>
        <div class="icon"><i class="fa fa-pie-chart"></i></div>
        <div class="icon"><i class="fa fa-plane"></i></div>
        <div class="icon"><i class="fa fa-plug"></i></div>
        <div class="icon"><i class="fa fa-plus"></i></div>
        <div class="icon"><i class="fa fa-plus-circle"></i></div>
        <div class="icon"><i class="fa fa-plus-square"></i></div>
        <div class="icon"><i class="fa fa-plus-square-o"></i></div>
        <div class="icon"><i class="fa fa-power-off"></i></div>
        <div class="icon"><i class="fa fa-print"></i></div>
        <div class="icon"><i class="fa fa-puzzle-piece"></i></div>
        <div class="icon"><i class="fa fa-qrcode"></i></div>
        <div class="icon"><i class="fa fa-question"></i></div>
        <div class="icon"><i class="fa fa-question-circle"></i></div>
        <div class="icon"><i class="fa fa-quote-left"></i></div>
        <div class="icon"><i class="fa fa-quote-right"></i></div>
        <div class="icon"><i class="fa fa-random"></i></div>
        <div class="icon"><i class="fa fa-recycle"></i></div>
        <div class="icon"><i class="fa fa-refresh"></i></div>
        <div class="icon"><i class="fa fa-remove"></i></div>
        <div class="icon"><i class="fa fa-reorder"></i></div>
        <div class="icon"><i class="fa fa-reply"></i></div>
        <div class="icon"><i class="fa fa-reply-all"></i></div>
        <div class="icon"><i class="fa fa-retweet"></i></div>
        <div class="icon"><i class="fa fa-road"></i></div>
        <div class="icon"><i class="fa fa-rocket"></i></div>
        <div class="icon"><i class="fa fa-rss"></i></div>
        <div class="icon"><i class="fa fa-rss-square"></i></div>
        <div class="icon"><i class="fa fa-search"></i></div>
        <div class="icon"><i class="fa fa-search-minus"></i></div>
        <div class="icon"><i class="fa fa-search-plus"></i></div>
        <div class="icon"><i class="fa fa-send"></i></div>
        <div class="icon"><i class="fa fa-send-o"></i></div>
        <div class="icon"><i class="fa fa-share"></i></div>
        <div class="icon"><i class="fa fa-share-alt"></i></div>
        <div class="icon"><i class="fa fa-share-alt-square"></i></div>
        <div class="icon"><i class="fa fa-share-square"></i></div>
        <div class="icon"><i class="fa fa-share-square-o"></i></div>
        <div class="icon"><i class="fa fa-shield"></i></div>
        <div class="icon"><i class="fa fa-shopping-cart"></i></div>
        <div class="icon"><i class="fa fa-sign-in"></i></div>
        <div class="icon"><i class="fa fa-sign-out"></i></div>
        <div class="icon"><i class="fa fa-signal"></i></div>
        <div class="icon"><i class="fa fa-sitemap"></i></div>
        <div class="icon"><i class="fa fa-sliders"></i></div>
        <div class="icon"><i class="fa fa-smile-o"></i></div>
        <div class="icon"><i class="fa fa-soccer-ball-o"></i></div>
        <div class="icon"><i class="fa fa-sort"></i></div>
        <div class="icon"><i class="fa fa-sort-alpha-asc"></i></div>
        <div class="icon"><i class="fa fa-sort-alpha-desc"></i></div>
        <div class="icon"><i class="fa fa-sort-amount-asc"></i></div>
        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
        <div class="icon"><i class="fa fa-sort-asc"></i></div>
        <div class="icon"><i class="fa fa-sort-desc"></i></div>
        <div class="icon"><i class="fa fa-sort-down"></i></div>
        <div class="icon"><i class="fa fa-sort-numeric-asc"></i></div>
        <div class="icon"><i class="fa fa-sort-numeric-desc"></i></div>
        <div class="icon"><i class="fa fa-sort-up"></i></div>
        <div class="icon"><i class="fa fa-space-shuttle"></i></div>
        <div class="icon"><i class="fa fa-spinner"></i></div>
        <div class="icon"><i class="fa fa-spoon"></i></div>
        <div class="icon"><i class="fa fa-square"></i></div>
        <div class="icon"><i class="fa fa-square-o"></i></div>
        <div class="icon"><i class="fa fa-star"></i></div>
        <div class="icon"><i class="fa fa-star-half"></i></div>
        <div class="icon"><i class="fa fa-star-half-empty"></i></div>
        <div class="icon"><i class="fa fa-star-half-full"></i></div>
        <div class="icon"><i class="fa fa-star-half-o"></i></div>
        <div class="icon"><i class="fa fa-star-o"></i></div>
        <div class="icon"><i class="fa fa-suitcase"></i></div>
        <div class="icon"><i class="fa fa-sun-o"></i></div>
        <div class="icon"><i class="fa fa-support"></i></div>
        <div class="icon"><i class="fa fa-tablet"></i></div>
        <div class="icon"><i class="fa fa-tachometer"></i></div>
        <div class="icon"><i class="fa fa-tag"></i></div>
        <div class="icon"><i class="fa fa-tags"></i></div>
        <div class="icon"><i class="fa fa-tasks"></i></div>
        <div class="icon"><i class="fa fa-taxi"></i></div>
        <div class="icon"><i class="fa fa-terminal"></i></div>
        <div class="icon"><i class="fa fa-thumb-tack"></i></div>
        <div class="icon"><i class="fa fa-thumbs-down"></i></div>
        <div class="icon"><i class="fa fa-thumbs-o-down"></i></div>
        <div class="icon"><i class="fa fa-thumbs-o-up"></i></div>
        <div class="icon"><i class="fa fa-thumbs-up"></i></div>
        <div class="icon"><i class="fa fa-ticket"></i></div>
        <div class="icon"><i class="fa fa-times"></i></div>
        <div class="icon"><i class="fa fa-times-circle"></i></div>
        <div class="icon"><i class="fa fa-times-circle-o"></i></div>
        <div class="icon"><i class="fa fa-tint"></i></div>
        <div class="icon"><i class="fa fa-toggle-down"></i></div>
        <div class="icon"><i class="fa fa-toggle-left"></i></div>
        <div class="icon"><i class="fa fa-toggle-off"></i></div>
        <div class="icon"><i class="fa fa-toggle-on"></i></div>
        <div class="icon"><i class="fa fa-toggle-right"></i></div>
        <div class="icon"><i class="fa fa-toggle-up"></i></div>
        <div class="icon"><i class="fa fa-trash"></i></div>
        <div class="icon"><i class="fa fa-trash-o"></i></div>
        <div class="icon"><i class="fa fa-tree"></i></div>
        <div class="icon"><i class="fa fa-trophy"></i></div>
        <div class="icon"><i class="fa fa-truck"></i></div>
        <div class="icon"><i class="fa fa-tty"></i></div>
        <div class="icon"><i class="fa fa-umbrella"></i></div>
        <div class="icon"><i class="fa fa-university"></i></div>
        <div class="icon"><i class="fa fa-unlock"></i></div>
        <div class="icon"><i class="fa fa-unlock-alt"></i></div>
        <div class="icon"><i class="fa fa-unsorted"></i></div>
        <div class="icon"><i class="fa fa-upload"></i></div>
        <div class="icon"><i class="fa fa-user"></i></div>
        <div class="icon"><i class="fa fa-users"></i></div>
        <div class="icon"><i class="fa fa-video-camera"></i></div>
        <div class="icon"><i class="fa fa-volume-down"></i></div>
        <div class="icon"><i class="fa fa-volume-off"></i></div>
        <div class="icon"><i class="fa fa-volume-up"></i></div>
        <div class="icon"><i class="fa fa-warning"></i></div>
        <div class="icon"><i class="fa fa-wheelchair"></i></div>
        <div class="icon"><i class="fa fa-wifi"></i></div>
        <div class="icon"><i class="fa fa-wrench"></i></div>
    </div>
    <h4 class="alert alert-success">文件类型</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-file"></i></div>
        <div class="icon"><i class="fa fa-file-archive-o"></i></div>
        <div class="icon"><i class="fa fa-file-audio-o"></i></div>
        <div class="icon"><i class="fa fa-file-code-o"></i></div>
        <div class="icon"><i class="fa fa-file-excel-o"></i></div>
        <div class="icon"><i class="fa fa-file-image-o"></i></div>
        <div class="icon"><i class="fa fa-file-movie-o"></i></div>
        <div class="icon"><i class="fa fa-file-o"></i></div>
        <div class="icon"><i class="fa fa-file-pdf-o"></i></div>
        <div class="icon"><i class="fa fa-file-photo-o"></i></div>
        <div class="icon"><i class="fa fa-file-picture-o"></i></div>
        <div class="icon"><i class="fa fa-file-powerpoint-o"></i></div>
        <div class="icon"><i class="fa fa-file-sound-o"></i></div>
        <div class="icon"><i class="fa fa-file-text"></i></div>
        <div class="icon"><i class="fa fa-file-text-o"></i></div>
        <div class="icon"><i class="fa fa-file-video-o"></i></div>
        <div class="icon"><i class="fa fa-file-word-o"></i></div>
        <div class="icon"><i class="fa fa-file-zip-o"></i></div>
    </div>
    <h4 class="alert alert-success">Spinner</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-circle-o-notch"></i></div>
        <div class="icon"><i class="fa fa-cog"></i></div>
        <div class="icon"><i class="fa fa-gear"></i></div>
        <div class="icon"><i class="fa fa-refresh"></i></div>
        <div class="icon"><i class="fa fa-spinner"></i></div>
    </div>
    <h4 class="alert alert-success">表单控件</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-check-square"></i></div>
        <div class="icon"><i class="fa fa-check-square-o"></i></div>
        <div class="icon"><i class="fa fa-circle"></i></div>
        <div class="icon"><i class="fa fa-circle-o"></i></div>
        <div class="icon"><i class="fa fa-dot-circle-o"></i></div>
        <div class="icon"><i class="fa fa-minus-square"></i></div>
        <div class="icon"><i class="fa fa-minus-square-o"></i></div>
        <div class="icon"><i class="fa fa-plus-square"></i></div>
        <div class="icon"><i class="fa fa-plus-square-o"></i></div>
        <div class="icon"><i class="fa fa-square"></i></div>
        <div class="icon"><i class="fa fa-square-o"></i></div>
    </div>
    <h4 class="alert alert-success">Payment</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-cc-amex"></i></div>
        <div class="icon"><i class="fa fa-cc-discover"></i></div>
        <div class="icon"><i class="fa fa-cc-mastercard"></i></div>
        <div class="icon"><i class="fa fa-cc-paypal"></i></div>
        <div class="icon"><i class="fa fa-cc-stripe"></i></div>
        <div class="icon"><i class="fa fa-cc-visa"></i></div>
        <div class="icon"><i class="fa fa-credit-card"></i></div>
        <div class="icon"><i class="fa fa-google-wallet"></i></div>
        <div class="icon"><i class="fa fa-paypal"></i></div>
    </div>
    <h4 class="alert alert-success">图表</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-area-chart"></i></div>
        <div class="icon"><i class="fa fa-bar-chart"></i></div>
        <div class="icon"><i class="fa fa-bar-chart-o"></i></div>
        <div class="icon"><i class="fa fa-line-chart"></i></div>
        <div class="icon"><i class="fa fa-pie-chart"></i></div>
    </div>
    <h4 class="alert alert-success">金融</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-bitcoin"></i></div>
        <div class="icon"><i class="fa fa-btc"></i></div>
        <div class="icon"><i class="fa fa-cny"></i></div>
        <div class="icon"><i class="fa fa-dollar"></i></div>
        <div class="icon"><i class="fa fa-eur"></i></div>
        <div class="icon"><i class="fa fa-euro"></i></div>
        <div class="icon"><i class="fa fa-gbp"></i></div>
        <div class="icon"><i class="fa fa-ils"></i></div>
        <div class="icon"><i class="fa fa-inr"></i></div>
        <div class="icon"><i class="fa fa-jpy"></i></div>
        <div class="icon"><i class="fa fa-krw"></i></div>
        <div class="icon"><i class="fa fa-money"></i></div>
        <div class="icon"><i class="fa fa-rmb"></i></div>
        <div class="icon"><i class="fa fa-rouble"></i></div>
        <div class="icon"><i class="fa fa-rub"></i></div>
        <div class="icon"><i class="fa fa-ruble"></i></div>
        <div class="icon"><i class="fa fa-rupee"></i></div>
        <div class="icon"><i class="fa fa-shekel"></i></div>
        <div class="icon"><i class="fa fa-sheqel"></i></div>
        <div class="icon"><i class="fa fa-try"></i></div>
        <div class="icon"><i class="fa fa-turkish-lira"></i></div>
        <div class="icon"><i class="fa fa-usd"></i></div>
        <div class="icon"><i class="fa fa-won"></i></div>
        <div class="icon"><i class="fa fa-yen"></i></div>
    </div>
    <h4 class="alert alert-success">文本编辑</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-align-center"></i></div>
        <div class="icon"><i class="fa fa-align-justify"></i></div>
        <div class="icon"><i class="fa fa-align-left"></i></div>
        <div class="icon"><i class="fa fa-align-right"></i></div>
        <div class="icon"><i class="fa fa-bold"></i></div>
        <div class="icon"><i class="fa fa-chain"></i></div>
        <div class="icon"><i class="fa fa-chain-broken"></i></div>
        <div class="icon"><i class="fa fa-clipboard"></i></div>
        <div class="icon"><i class="fa fa-columns"></i></div>
        <div class="icon"><i class="fa fa-copy"></i></div>
        <div class="icon"><i class="fa fa-cut"></i></div>
        <div class="icon"><i class="fa fa-dedent"></i></div>
        <div class="icon"><i class="fa fa-eraser"></i></div>
        <div class="icon"><i class="fa fa-file"></i></div>
        <div class="icon"><i class="fa fa-file-o"></i></div>
        <div class="icon"><i class="fa fa-file-text"></i></div>
        <div class="icon"><i class="fa fa-file-text-o"></i></div>
        <div class="icon"><i class="fa fa-files-o"></i></div>
        <div class="icon"><i class="fa fa-floppy-o"></i></div>
        <div class="icon"><i class="fa fa-font"></i></div>
        <div class="icon"><i class="fa fa-header"></i></div>
        <div class="icon"><i class="fa fa-indent"></i></div>
        <div class="icon"><i class="fa fa-italic"></i></div>
        <div class="icon"><i class="fa fa-link"></i></div>
        <div class="icon"><i class="fa fa-list"></i></div>
        <div class="icon"><i class="fa fa-list-alt"></i></div>
        <div class="icon"><i class="fa fa-list-ol"></i></div>
        <div class="icon"><i class="fa fa-list-ul"></i></div>
        <div class="icon"><i class="fa fa-outdent"></i></div>
        <div class="icon"><i class="fa fa-paperclip"></i></div>
        <div class="icon"><i class="fa fa-paragraph"></i></div>
        <div class="icon"><i class="fa fa-paste"></i></div>
        <div class="icon"><i class="fa fa-repeat"></i></div>
        <div class="icon"><i class="fa fa-rotate-left"></i></div>
        <div class="icon"><i class="fa fa-rotate-right"></i></div>
        <div class="icon"><i class="fa fa-save"></i></div>
        <div class="icon"><i class="fa fa-scissors"></i></div>
        <div class="icon"><i class="fa fa-strikethrough"></i></div>
        <div class="icon"><i class="fa fa-subscript"></i></div>
        <div class="icon"><i class="fa fa-superscript"></i></div>
        <div class="icon"><i class="fa fa-table"></i></div>
        <div class="icon"><i class="fa fa-text-height"></i></div>
        <div class="icon"><i class="fa fa-text-width"></i></div>
        <div class="icon"><i class="fa fa-th"></i></div>
        <div class="icon"><i class="fa fa-th-large"></i></div>
        <div class="icon"><i class="fa fa-th-list"></i></div>
        <div class="icon"><i class="fa fa-underline"></i></div>
        <div class="icon"><i class="fa fa-undo"></i></div>
        <div class="icon"><i class="fa fa-unlink"></i></div>
    </div>
    <h4 class="alert alert-success">方位</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-angle-double-down"></i></div>
        <div class="icon"><i class="fa fa-angle-double-left"></i></div>
        <div class="icon"><i class="fa fa-angle-double-right"></i></div>
        <div class="icon"><i class="fa fa-angle-double-up"></i></div>
        <div class="icon"><i class="fa fa-angle-down"></i></div>
        <div class="icon"><i class="fa fa-angle-left"></i></div>
        <div class="icon"><i class="fa fa-angle-right"></i></div>
        <div class="icon"><i class="fa fa-angle-up"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-down"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-left"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-o-down"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-o-left"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-o-up"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-right"></i></div>
        <div class="icon"><i class="fa fa-arrow-circle-up"></i></div>
        <div class="icon"><i class="fa fa-arrow-down"></i></div>
        <div class="icon"><i class="fa fa-arrow-left"></i></div>
        <div class="icon"><i class="fa fa-arrow-right"></i></div>
        <div class="icon"><i class="fa fa-arrow-up"></i></div>
        <div class="icon"><i class="fa fa-arrows"></i></div>
        <div class="icon"><i class="fa fa-arrows-alt"></i></div>
        <div class="icon"><i class="fa fa-arrows-h"></i></div>
        <div class="icon"><i class="fa fa-arrows-v"></i></div>
        <div class="icon"><i class="fa fa-caret-down"></i></div>
        <div class="icon"><i class="fa fa-caret-left"></i></div>
        <div class="icon"><i class="fa fa-caret-right"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-down"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-left"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="icon"><i class="fa fa-caret-square-o-up"></i></div>
        <div class="icon"><i class="fa fa-caret-up"></i></div>
        <div class="icon"><i class="fa fa-chevron-circle-down"></i></div>
        <div class="icon"><i class="fa fa-chevron-circle-left"></i></div>
        <div class="icon"><i class="fa fa-chevron-circle-right"></i></div>
        <div class="icon"><i class="fa fa-chevron-circle-up"></i></div>
        <div class="icon"><i class="fa fa-chevron-down"></i></div>
        <div class="icon"><i class="fa fa-chevron-left"></i></div>
        <div class="icon"><i class="fa fa-chevron-right"></i></div>
        <div class="icon"><i class="fa fa-chevron-up"></i></div>
        <div class="icon"><i class="fa fa-hand-o-down"></i></div>
        <div class="icon"><i class="fa fa-hand-o-left"></i></div>
        <div class="icon"><i class="fa fa-hand-o-right"></i></div>
        <div class="icon"><i class="fa fa-hand-o-up"></i></div>
        <div class="icon"><i class="fa fa-long-arrow-down"></i></div>
        <div class="icon"><i class="fa fa-long-arrow-left"></i></div>
        <div class="icon"><i class="fa fa-long-arrow-right"></i></div>
        <div class="icon"><i class="fa fa-long-arrow-up"></i></div>
        <div class="icon"><i class="fa fa-toggle-down"></i></div>
        <div class="icon"><i class="fa fa-toggle-left"></i></div>
        <div class="icon"><i class="fa fa-toggle-right"></i></div>
        <div class="icon"><i class="fa fa-toggle-up"></i></div>
    </div>
    <h4 class="alert alert-success">视频播放</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-arrows-alt"></i></div>
        <div class="icon"><i class="fa fa-backward"></i></div>
        <div class="icon"><i class="fa fa-compress"></i></div>
        <div class="icon"><i class="fa fa-eject"></i></div>
        <div class="icon"><i class="fa fa-expand"></i></div>
        <div class="icon"><i class="fa fa-fast-backward"></i></div>
        <div class="icon"><i class="fa fa-fast-forward"></i></div>
        <div class="icon"><i class="fa fa-forward"></i></div>
        <div class="icon"><i class="fa fa-pause"></i></div>
        <div class="icon"><i class="fa fa-play"></i></div>
        <div class="icon"><i class="fa fa-play-circle"></i></div>
        <div class="icon"><i class="fa fa-play-circle-o"></i></div>
        <div class="icon"><i class="fa fa-step-backward"></i></div>
        <div class="icon"><i class="fa fa-step-forward"></i></div>
        <div class="icon"><i class="fa fa-stop"></i></div>
        <div class="icon"><i class="fa fa-youtube-play"></i></div>
    </div>
    <h4 class="alert alert-success">品牌</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-adn"></i></div>
        <div class="icon"><i class="fa fa-android"></i></div>
        <div class="icon"><i class="fa fa-angellist"></i></div>
        <div class="icon"><i class="fa fa-apple"></i></div>
        <div class="icon"><i class="fa fa-behance"></i></div>
        <div class="icon"><i class="fa fa-behance-square"></i></div>
        <div class="icon"><i class="fa fa-bitbucket"></i></div>
        <div class="icon"><i class="fa fa-bitbucket-square"></i></div>
        <div class="icon"><i class="fa fa-bitcoin"></i></div>
        <div class="icon"><i class="fa fa-btc"></i></div>
        <div class="icon"><i class="fa fa-cc-amex"></i></div>
        <div class="icon"><i class="fa fa-cc-discover"></i></div>
        <div class="icon"><i class="fa fa-cc-mastercard"></i></div>
        <div class="icon"><i class="fa fa-cc-paypal"></i></div>
        <div class="icon"><i class="fa fa-cc-stripe"></i></div>
        <div class="icon"><i class="fa fa-cc-visa"></i></div>
        <div class="icon"><i class="fa fa-codepen"></i></div>
        <div class="icon"><i class="fa fa-css3"></i></div>
        <div class="icon"><i class="fa fa-delicious"></i></div>
        <div class="icon"><i class="fa fa-deviantart"></i></div>
        <div class="icon"><i class="fa fa-digg"></i></div>
        <div class="icon"><i class="fa fa-dribbble"></i></div>
        <div class="icon"><i class="fa fa-dropbox"></i></div>
        <div class="icon"><i class="fa fa-drupal"></i></div>
        <div class="icon"><i class="fa fa-empire"></i></div>
        <div class="icon"><i class="fa fa-facebook"></i></div>
        <div class="icon"><i class="fa fa-facebook-square"></i></div>
        <div class="icon"><i class="fa fa-flickr"></i></div>
        <div class="icon"><i class="fa fa-foursquare"></i></div>
        <div class="icon"><i class="fa fa-ge"></i></div>
        <div class="icon"><i class="fa fa-git"></i></div>
        <div class="icon"><i class="fa fa-git-square"></i></div>
        <div class="icon"><i class="fa fa-github"></i></div>
        <div class="icon"><i class="fa fa-github-alt"></i></div>
        <div class="icon"><i class="fa fa-github-square"></i></div>
        <div class="icon"><i class="fa fa-gittip"></i></div>
        <div class="icon"><i class="fa fa-google"></i></div>
        <div class="icon"><i class="fa fa-google-plus"></i></div>
        <div class="icon"><i class="fa fa-google-plus-square"></i></div>
        <div class="icon"><i class="fa fa-google-wallet"></i></div>
        <div class="icon"><i class="fa fa-hacker-news"></i></div>
        <div class="icon"><i class="fa fa-html5"></i></div>
        <div class="icon"><i class="fa fa-instagram"></i></div>
        <div class="icon"><i class="fa fa-ioxhost"></i></div>
        <div class="icon"><i class="fa fa-joomla"></i></div>
        <div class="icon"><i class="fa fa-jsfiddle"></i></div>
        <div class="icon"><i class="fa fa-lastfm"></i></div>
        <div class="icon"><i class="fa fa-lastfm-square"></i></div>
        <div class="icon"><i class="fa fa-linkedin"></i></div>
        <div class="icon"><i class="fa fa-linkedin-square"></i></div>
        <div class="icon"><i class="fa fa-linux"></i></div>
        <div class="icon"><i class="fa fa-maxcdn"></i></div>
        <div class="icon"><i class="fa fa-meanpath"></i></div>
        <div class="icon"><i class="fa fa-openid"></i></div>
        <div class="icon"><i class="fa fa-pagelines"></i></div>
        <div class="icon"><i class="fa fa-paypal"></i></div>
        <div class="icon"><i class="fa fa-pied-piper"></i></div>
        <div class="icon"><i class="fa fa-pied-piper-alt"></i></div>
        <div class="icon"><i class="fa fa-pinterest"></i></div>
        <div class="icon"><i class="fa fa-pinterest-square"></i></div>
        <div class="icon"><i class="fa fa-qq"></i></div>
        <div class="icon"><i class="fa fa-ra"></i></div>
        <div class="icon"><i class="fa fa-rebel"></i></div>
        <div class="icon"><i class="fa fa-reddit"></i></div>
        <div class="icon"><i class="fa fa-reddit-square"></i></div>
        <div class="icon"><i class="fa fa-renren"></i></div>
        <div class="icon"><i class="fa fa-share-alt"></i></div>
        <div class="icon"><i class="fa fa-share-alt-square"></i></div>
        <div class="icon"><i class="fa fa-skype"></i></div>
        <div class="icon"><i class="fa fa-slack"></i></div>
        <div class="icon"><i class="fa fa-slideshare"></i></div>
        <div class="icon"><i class="fa fa-soundcloud"></i></div>
        <div class="icon"><i class="fa fa-spotify"></i></div>
        <div class="icon"><i class="fa fa-stack-exchange"></i></div>
        <div class="icon"><i class="fa fa-stack-overflow"></i></div>
        <div class="icon"><i class="fa fa-steam"></i></div>
        <div class="icon"><i class="fa fa-steam-square"></i></div>
        <div class="icon"><i class="fa fa-stumbleupon"></i></div>
        <div class="icon"><i class="fa fa-stumbleupon-circle"></i></div>
        <div class="icon"><i class="fa fa-tencent-weibo"></i></div>
        <div class="icon"><i class="fa fa-trello"></i></div>
        <div class="icon"><i class="fa fa-tumblr"></i></div>
        <div class="icon"><i class="fa fa-tumblr-square"></i></div>
        <div class="icon"><i class="fa fa-twitch"></i></div>
        <div class="icon"><i class="fa fa-twitter"></i></div>
        <div class="icon"><i class="fa fa-twitter-square"></i></div>
        <div class="icon"><i class="fa fa-vimeo-square"></i></div>
        <div class="icon"><i class="fa fa-vine"></i></div>
        <div class="icon"><i class="fa fa-vk"></i></div>
        <div class="icon"><i class="fa fa-wechat"></i></div>
        <div class="icon"><i class="fa fa-weibo"></i></div>
        <div class="icon"><i class="fa fa-weixin"></i></div>
        <div class="icon"><i class="fa fa-windows"></i></div>
        <div class="icon"><i class="fa fa-wordpress"></i></div>
        <div class="icon"><i class="fa fa-xing"></i></div>
        <div class="icon"><i class="fa fa-xing-square"></i></div>
        <div class="icon"><i class="fa fa-yahoo"></i></div>
        <div class="icon"><i class="fa fa-yelp"></i></div>
        <div class="icon"><i class="fa fa-youtube"></i></div>
        <div class="icon"><i class="fa fa-youtube-play"></i></div>
        <div class="icon"><i class="fa fa-youtube-square"></i></div>
    </div>
    <h4 class="alert alert-success">医疗</h4>
    <div class="icons">
        <div class="icon"><i class="fa fa-ambulance"></i></div>
        <div class="icon"><i class="fa fa-h-square"></i></div>
        <div class="icon"><i class="fa fa-hospital-o"></i></div>
        <div class="icon"><i class="fa fa-medkit"></i></div>
        <div class="icon"><i class="fa fa-plus-square"></i></div>
        <div class="icon"><i class="fa fa-stethoscope"></i></div>
        <div class="icon"><i class="fa fa-user-md"></i></div>
        <div class="icon"><i class="fa fa-wheelchair"></i></div>
    </div>
</div>
