<div class="header">
    关于@(Html.GetProductName())
</div>
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a href="#description" aria-controls="description" data-toggle="tab" role="tab">软件介绍</a>
        </li>
        <li role="presentation">
            <a href="#contactUs" aria-controls="contactUs" data-toggle="tab" role="tab">联系我</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="description" class="tab-pane active" role="tabpanel" style="padding:10px 15px;">
            
        </div>
        <div id="contactUs" class="tab-pane" role="tabpanel" style="padding:10px 15px;">

        </div>
    </div>
</div>
