@model IList<OperationRecord>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            mercurius.FixedTableHeader('#logOnGrid', 100);
        });
    </script>
}
@if (!Model.IsEmpty())
{
    var index = (this.Request.Params["pageIndex"].AsInt(1) - 1) * this.Request.Params["pageSize"].AsInt(20);
    <table id="logOnGrid" class="grid">
        <thead>
            <tr>
                <td style="width: 50px;">编号</td>
                <td style="width: 150px;">时间</td>
                <td>登录/登出</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@(++index)</td>
                    <td class="text-center">@item.RecordDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.RecordContent</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Paging((int)this.ViewBag.TotalRecords)
}