html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 13pt;
    background-color: #758b94;
    -ms-content-zoom-chaining: none;
    -ms-touch-action: none;
    touch-action: none;
}

.top-header {
    height: 50px;
    background-color: #2d70b2;
    text-shadow: 0 1px 0 #2d70b2;
    background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
    background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    font-weight: normal;
}

    .top-header .row {
        margin-left: 0;
    }

        .top-header .row.required {
            color: darkred;
            margin-top: 5px;
            margin-left: 40px;
            font-size: 1.1em;
            font-weight: bold;
            display: inline-block;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
            cursor: default;
        }

        .top-header .row .col-lg-12 {
            float: left;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

            .top-header .row .col-lg-12 .logo h1 {
                margin: 0;
                color: #fff;
                cursor: default;
                padding: 11px 0;
                font-size: 25px;
                font-weight: bold;
                text-shadow: 3px 6px 3px #000;
            }

#loginbox {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    min-height: 240px;
    background: #ffffff;
    -moz-box-shadow: 0 0 4px #000000;
    -webkit-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #000000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    margin-top: 190px;
    position: relative;
}

    #loginbox .input-group-lg > .form-control,
    .input-group-lg > .input-group-addon,
    .input-group-lg > .input-group-btn > .btn {
        padding-top: 8px;
        padding-bottom: 8px;
        vertical-align: middle;
    }

    #loginbox p {
        margin-top: 20px;
        padding: 0 20px;
    }

    #loginbox .input-group {
        margin: auto;
        margin-bottom: 10px;
    }

    #loginbox .form-actions {
        width: 100%;
        text-align: left;
        padding-left: 53px;
        display: inline-block;
    }

    #loginbox .panel-title {
        font-size: 20px;
        font-weight: bold;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        padding: 5px 15px 8px 15px;
    }

    #loginbox form#recoverform .form-actions {
        margin-top: 24px;
    }

.form-vertical, .form-actions {
    margin-bottom: 0;
}

.verifyCode {
    width: 150px;
    height: 44px;
    cursor: pointer;
}

.form-actions .pull-left {
    padding-right: 10px;
}

footer {
    color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #2d70b2;
    -ms-text-shadow: 0 1px 0 #2d70b2;
    text-shadow: 0 1px 0 #2d70b2;
    background-image: -webkit-linear-gradient(top, #2d70b2 0, #2a68a6 100%);
    background-image: linear-gradient(to bottom, #2d70b2 0, #2a68a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    font-weight: normal;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
